*

.pth

!.gitignore

!1_prepare_and_run.py
!2_nnunet_predict.py
!3_spm_make_transform.py
!4_normalize_and_analyze.py
!5_postprocessing.py
!6_clinical_symptom.py
!gui_app.py
!pipeline_common.py
!pipeline_runner.py
!environment.yml

!atlas/
!atlas/.gitkeep

!clinical_symptoms_table/
!clinical_symptoms_table/*.xlsx

!LOGO/
!LOGO/*.png

!nnUNet_raw/
nnUNet_raw/**
!nnUNet_raw/.gitkeep

!nnUNet_preprocessed/
nnUNet_preprocessed/**
!nnUNet_preprocessed/.gitkeep

!nnUNet_results/
nnUNet_results/**
!nnUNet_results/.gitkeep
